<header>
  <%= image_tag("SplashScreenImage.jpg", :size => '180x80', :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Sign in", '/' %></li>
      <li><%= link_to "About", '/about' %></li>
		<li><%= link_to "Contact", '/contact' %>
    </ul>
  </nav>
</header>